@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>¡BIENVENIDO!</h1>
    <p class="lead">GESTIONA TU INFORMACIÓN</p>
    <div>
        <img src="~/Content/img/tiendalogo.png" />
    </div>
    
</div>